* {
	box-sizing: border-box;
}

.graph {
	width: 100%;
	height: 45vh;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 8px;
	outline: 1px solid #ccc;
	position: relative;

	--sidebar-width: 230px;
}

.graph:only-child {
	height: 90vh;
}

.graph canvas {
	width: calc(100% - var(--sidebar-width));
	height: 100%;
	outline: 1px solid #ccc;
	position: absolute;
	top: 0px;
	right: 0px;
}

.graph .sidebar {
	display: flex;
	flex-direction: column;
	width: var(--sidebar-width);
	height: 100%;
}

.graph .sidebar > * {
	outline: 1px solid #ccc;
	padding: 4px;
}

.graph .sidebar .title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.graph .sidebar .range input {
	width: 40px;
	text-align: center;
}

.graph .sidebar .lines {
	font-size: 0.8em;
	height: calc(100% - 2 * 20px);
	overflow-y: auto;
}

.graph .sidebar .lines .line .value {
	float: right;
}
